
button {
    background: rgb(255, 255, 255);
    border: none;
    box-shadow: 1px 2px 0px 0px #7c7c9080;
    padding: 1% 5%;
    border: 1px solid #00000012;
    font-size: 0.75em;
    margin: 1%;
}
button:hover {
    background: #e4e3e324;
    cursor: pointer;
    margin: 0.5%;
    padding: 1.5% 5.5%;
}
button.blue {
    background: #00a1;
    color: #007;
    box-shadow: 1px 2px 0px 0px #9393ff80;
}
button.blue:hover {
    background: #00a3
}
button.red {
    background: #f4a5a552;
    color: #a06c6c;
    box-shadow: 1px 2px 0px 0px #ff939380;
}
button.red:hover {
    background: #ca858552
}
button.yellow {
    background: #FF05;
    color: #353501;
    box-shadow: 1px 2px 0px 0px #ff939380;
}
button.yellow:hover {
    background: #FF0A
}
button.green {
    background: #0F05;
    color: #003501;
    box-shadow: 1px 2px 0px 0px #ff939380;
}
button.green:hover {
    background: #0F0A
}
