$board_size: 70vw;
$board_size_max: 70vh;

#game-page {
    display: grid;
    justify-items: center;
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;

    @media (orientation:landscape) {
        grid-template:
        'navbar navbar'
        'board open'  / $board_size 5vw
        ;
        grid-template-rows: 10% 1fr;
    }
    @media (orientation:portrait) {
        grid-template:
        'navbar'
        'board'
        'open';
        grid-template-rows: 10% 1fr 1fr;
        
        .navbar {
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.33);
        }
    }
    // grid-template-rows: 15vh;
    grid-column-gap: 2.5vw;
    grid-row-gap: 2.5vh;
    
    .board {
        grid-area: board;
        max-width: $board_size_max;
        max-height: $board_size_max;
        width: $board_size;
        height: $board_size;
    }
    
    .open-pieces {
        grid-area: open;
    }
    
    .navbar {
        grid-area: navbar;
        display: grid;
        grid-template: "p" "b";
        font-size: 3vh;
        width: 100%;
        justify-content: center;

        padding: 1% 0;

        .nav-buttons {
            grid-area: b;
            display: grid;
            grid-template-columns: repeat(2, 1fr [col-start]);
            font-size: 2.5vh;
        }
    }
    
    .cover {
        padding-top: 25vh;
        background: #ffffff7d;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        div {
            width: 50vw;
            margin-left: 25vw;
            background: #fff9;
            padding: 3vw;
        }
    }
}