
#main-page {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    grid-row-gap: 3vh;
    font-size: 4vh;

    h1 {
        text-align: center;
        @media (orientation:portrait) {
            padding: 5% 10%;
        }
        margin: 0;
        span {
            font-family: Brush Script MT,cursive; 
            color: #F00;
            &#k0 {
                color: #000;
            }
            &#k1 {
                color: #0Fa;
            }
            &#k2 {
                color: #00F;
            }
            &#k3 {
                color: #03dF;
            }
        }
        i {
            font-size: 0.15em;
        }
    }
    .btns {
        padding: 0 10vw;
        display: grid;
        justify-content: center;
        align-content: center;
        @media (orientation:portrait) {
            font-size: 1em;
            button {
                width: 80vw;
            }
        }
        @media (orientation:landscape) {
            font-size: 1.75em;
            button {
                width: 80vh;
            }
        }
    }
    .update-notes {
        text-align: center;
        
        ul {
            box-shadow: inset 0px 0px 5px 5px #f0f0f0;
            max-height: 20vh;
            overflow-y: scroll;
            height: 100%;
            padding: 2% 10%;
        }

        @media (orientation:portrait) {
            margin: 10%;
            h4 {
                margin: 0;
                font-size: 0.75em;
            }
            ul {
                text-align: start;
                margin-top: 5%;
            }
            li {
                font-size: 0.5em;
            }
        }
        @media (orientation:landscape) {
            margin: 0 10%;
            h4 {
                margin: 0;
                font-size: 1.25em;
            }
            ul {
                text-align: start;
                margin: 0;
            }
            li {
                font-size: 1em;
            }
        }
    }
    .legal {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 0.5em;
        @media (orientation:landscape) {
            height: 1em;
            width: 5em;
        }
        @media (orientation:portrait) {
            height: 2em;
            width: 5em;
        }
    }
}
