.board {
    display: grid;
    grid-template: 
        'bp00 bp01 bp02 bp03'
        'bp10 bp11 bp12 bp13'
        'bp20 bp21 bp22 bp23'
        'bp30 bp31 bp32 bp33';
    align-items: center;
    justify-items: center;
    grid-gap: 1%;

    > * {
        height: 100%;
        width: 100%;
        align-items: center;
        justify-items: center;
        vertical-align: middle;
        text-align: center;
        // border: 1px solid;
        // border-right: none;
        // border-bottom: none;
        box-shadow: 0px 0px 15px 0px #0003;
    }

    @for $i from 0 to 4 {
        // > #bp#{$i}3 {
        //     border-right: 1px solid;
        // }
        // > #bp3#{$i} {
        //     border-bottom: 1px solid;
        // }
        @for $j from 0 to 4 {
            > #bp#{$i}#{$j} {
                grid-area: unquote("bp" + inspect($i) + inspect($j));
            }
        }
    }
    > :hover {
        background: rgba(151, 255, 142, 0.251);
        cursor: pointer;
    }
}
