.modal {
    position: absolute;
    box-shadow: 3px 4px 5px 1px #ffffff;
    width: 100vw;
    height: 100vh;
    padding: 0;
    left: 0;
    transition: top 1s;

    &-background {
        position: absolute;
        background: #ffffffe0;
        left: 0; top: 0;
        height: 100%;
        width: 100%;
        z-index: 5;
    }

    &-content {
        position: absolute;
        left: 10vw;
        width: 70vw;
        padding: 5vw;
        top: 25vh;
        max-height: 50vh;
        overflow-y: scroll;

        background: white;
        box-shadow: 10px 10px 30px 10px #f884;
        display: grid;
        grid-template: "n" "i" "b";
        grid-template-rows: 10% 80% 10%;
        z-index: 6;
        max-width: 90vh;

        &-nav {
            grid-area: n;
        }
        &-inner {
            grid-area: i;
        }
        &-btns {
            grid-area: b;
            justify-items: center;
            display: grid;
            grid-template-columns: auto;
            button {
                grid-row: 1;
                width: 80%;
                margin: 0 20%;
            }
        }
    }
}